@model IEnumerable<QLsach.Models.PHIEUXUAT>

@{
    ViewBag.Title = "Index";
}

<h2>Xuất sách</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Ngày")
        </th>
        <th>
            @Html.DisplayName("Đại lý")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NGAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DAILY.TENDL)
        </td>
        <td>
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MAPX })
        </td>
    </tr>
}

</table>
