@model QLsach.Models.SACHBANDC

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SACHBANDC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BANDC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BANDC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DAILY.TENDL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAILY.TENDL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHIEUXUAT.MAPX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHIEUXUAT.MAPX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SACH.TENSACH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SACH.TENSACH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
