@model IEnumerable<QLsach.Models.SACHBANDC>

@{
    ViewBag.Title = "List";
}

<h2>Danh sách sách bán được</h2>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayName("Đại lý")
        </th>
        <th>
            @Html.DisplayName("Ngày xuất")
        </th>
        <th>
            @Html.DisplayName("Sách")
        </th>
        <th>
            @Html.DisplayName("Số lượng")
        </th>
        <th>
            @Html.DisplayName("Số lượng bán được")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.DAILY.TENDL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHIEUXUAT.NGAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SACH.TENSACH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BANDC)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID })
        </td>
    </tr>
}

</table>
