@model QLsach.Models.PHIEUCHI

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Phiếu chi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Ngày")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY)
        </dd>

        <dt>
            @Html.DisplayName("Số tiền")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIEN)
        </dd>

        <dt>
            @Html.DisplayName("Nội dung")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDUNG)
        </dd>

        <dt>
            @Html.DisplayName("NXB")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NXB.TENNXB)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Về", "Index")
</p>
