@model IEnumerable<QLsach.Models.CTPX>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DGTB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DGB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHIEUXUAT.MAPX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SACH.TENSACH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DGTB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DGB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHIEUXUAT.MAPX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SACH.TENSACH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
