@model QLsach.Models.CONGNO

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Công nợ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Đại lý")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAILY.TENDL)
        </dd>

        <dt>
            @Html.DisplayName("Ngày xuất hàng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHIEUXUAT.NGAY)
        </dd>
        <dt>
            @Html.DisplayName("Tiền nợ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIENNO)
        </dd>

        <dt>
            @Html.DisplayName("Tiền trả")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIENTRA)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MADL + "-" + Model.MAPX }) |
    @Html.ActionLink("Về", "Index")
</p>
