@model IEnumerable<QLsach.Models.CONGNO>

@{
    ViewBag.Title = "Index";
}

<h2>Công nợ</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Đại lý")
        </th>
        <th>
            @Html.DisplayName("Ngày xuất hàng")
        </th>
        <th>
            @Html.DisplayName("Tiền nợ")
        </th>
        <th>
            @Html.DisplayName("Tiền trả")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.DAILY.TENDL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHIEUXUAT.NGAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIENNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIENTRA)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new {  id=item.MADL+"-"+item.MAPX  })|
            @Html.ActionLink("Chi tiết", "Details", new { id = item.MADL + "-" + item.MAPX })
        </td>
    </tr>
}

</table>
