@model QLsach.Models.PHIEUTHU

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Ngày")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY)
        </dd>
        <dt>
            @Html.DisplayName("Đại lý")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAILY.TENDL)
        </dd>
        <dt>
            @Html.DisplayName("Số tiền")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIEN)
        </dd>

        <dt>
            @Html.DisplayName("Nội dung")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDUNG)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Về", "Index")
</p>
