@model IEnumerable<QLsach.Models.PHIEUTHU>

@{
    ViewBag.Title = "Index";
}

<h2>Phiếu thu</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Đại lý")
        </th>
        <th>
            @Html.DisplayName("Ngày")
        </th>
        <th>
            @Html.DisplayName("Số tiền")
        </th>
        <th>
            @Html.DisplayName("Nội dung")
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DAILY.TENDL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOIDUNG)
        </td>
        
        <td>
            
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ID }) 
            
        </td>
    </tr>
}

</table>
