@model QLsach.Models.DAILY

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Đại lý</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tên đại lý")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENDL)
        </dd>

        <dt>
            @Html.DisplayName("Địa chỉ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            @Html.DisplayName("Điện thoại")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIENTHOAI)
        </dd>

        <dt>
            @Html.DisplayName("Tổng nợ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONGNO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MADL }) |
    @Html.ActionLink("Về", "Index")
</p>
