@model QLsach.Models.DAILY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DAILY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENDL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENDL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIENTHOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIENTHOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TONGNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONGNO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MADL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
