@model IEnumerable<QLsach.Models.DAILY>

@{
    ViewBag.Title = "Index";
}

<h2>Đại lý</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tên đại lý")
        </th>
        <th>
            @Html.DisplayName("Địa chỉ")
        </th>
        <th>
            @Html.DisplayName("Điện thoại")
        </th>
        <th>
            @Html.DisplayName("Tổng nợ")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENDL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIACHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIENTHOAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TONGNO)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MADL }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MADL })
        </td>
    </tr>
}

</table>
