@model QLsach.Models.createnhap

@{
    ViewBag.Title = "Create";
    int i = 0;
    var xx = ViewBag.mess;
}

<h2>Tạo phiếu nhập</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        <p class="alert-danger">@xx</p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Ngày", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pn.NGAY, new { htmlAttributes = new { @class = "form-control",type="date" } })
                @Html.ValidationMessageFor(model => model.pn.NGAY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("NXB", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MANXB", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pn.MANXB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Người giao", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pn.NGUOIGIAO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pn.NGUOIGIAO, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-inline">
            <h4>Thêm chi tiết phiếu nhập</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-default">
                <table class="table" id="ct">
                    <tr>
                        <td>
                            @Html.Label("Sách", "MASACH", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("MASACH", null, htmlAttributes: new { @class = "form-control" ,@id = "item"})
                                @Html.ValidationMessageFor(model => model.ctpn.MASACH, "", new { @class = "text-danger" })
                            </div>
                        </td>
                        <td>
                            @Html.Label("Số lượng", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ctpn.SL, new { htmlAttributes = new { @class = "form-control", @id = "amount" } })
                                @Html.ValidationMessageFor(model => model.ctpn.SL, "", new { @class = "text-danger" })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="button" id="btnAdd" class="btn btn-default" value="Add" />
                            </div>
                        </td>
                        </table>
                </div>
            </div>
            <hr />
            <table class="table" id="chitiet">
                <tr>
                    <th>ID</th>
                    <th>ID Sách</th>
                    <th>Tên Sách</th>
                    <th>Số lượng nhập</th>
                    <th></th>
                </tr>
                @if (Model != null)
            {
                foreach (var ct in Model.pn.CTPNs)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => ct.MAPN)</td>
                        <td>@Html.DisplayFor(modelItem => ct.MASACH)</td>
                        <td>@Html.DisplayFor(modelItem => ct.SACH.TENSACH)</td>
                        <td>@Html.DisplayFor(modelItem => ct.SL)</td>
                        <td><button class="btn btn-danger btnDelete">Delete</button></td>
                        @Html.Hidden("ct.Index", i)
                        @Html.Hidden("ct[" + i + "].idsach", ct.MASACH)
                        @Html.Hidden("ct[" + i + "].soluong", ct.SL)
                    </tr>
                i=i+1;
                }
            }
            </table>
            <hr />
            <div class="form-group">
                <div>
                    <input type="submit" value="Tạo" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Về", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/mycustomjquery")
}
