@model QLsach.Models.NHAPModel
@{
    ViewBag.Title = "Details";
}

<h2>Nhap</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pHIEUNHAP.NGAY)
        </dd>

        <dt>
            Người giao
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pHIEUNHAP.NGUOIGIAO)
        </dd>

        <dt>
            NXB
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pHIEUNHAP.NXB.TENNXB)
        </dd>

    </dl>

</div>
<table class="table">
    <tr>
        <th>
            SÁCH
        </th>
        <th>
            Số lượng
        </th>
    </tr>

    @foreach (var item in Model.cTPNs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SACH.TENSACH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SL)
            </td>
        </tr>
    }
</table>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
