@model QLsach.Models.PHIEUNHAP

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PHIEUNHAP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGUOIGIAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGUOIGIAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NXB.TENNXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NXB.TENNXB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAPN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
