@model IEnumerable<QLsach.Models.PHIEUNHAP>

@{
    ViewBag.Title = "Index";
}

<h2>Nhập sách</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Ngày")
        </th>
        <th>
            @Html.DisplayName("Người giao")
        </th>
        <th>
            @Html.DisplayName("NXB")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NGAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGUOIGIAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NXB.TENNXB)
        </td>
        <td>            
            @Html.ActionLink("Chi tiết", "Details", new { id = item.MAPN })
        </td>
    </tr>
}

</table>
