@model IEnumerable<QLsach.Models.TONKHO>

@{
    ViewBag.Title = "Create";
    int i = 0;
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TONKHO</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <table class="table">
            <tr>
                <td>
                    @Html.LabelFor(modelitem => item.MASACH, "Sách", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(modelItem => item.SACH.TENSACH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.Hidden("item[" + i + "].MASACH", item.MASACH)
                    </div>
                </td>
                <td>
                    @Html.LabelFor(modelitem => item.SL, "Số lượng", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(modelitem => item.SL, new { htmlAttributes = new { @class = "form-control", @value = item.SL, @id="throw" } })
                        @Html.ValidationMessageFor(modelitem => item.SL, "", new { @class = "text-danger" })     
                        @Html.Hidden("item[" + i + "].SL", item.SL, new { htmlAttributes = new { @id="catch" } })                 
                    </div>@{i++;
}
                </td>
            </tr>
        </table>
    </div>
}
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
